# Protección de la cadena de suministro
ignore-scripts=true # Deshabilita la ejecución de scripts de instalación para prevenir la ejecución de código malicioso.
save-exact=true # Guarda las versiones exactas de las dependencias.
# minimum-release-age=1440 # Establece la edad mínima para las versiones de los paquetes.
# block-exotic-subdeps=true # Bloquea las dependencias secundarias exóticas.
# trust-policy=no-downgrade # No permite la degradación de paquetes.
# engine-strict=true # Aplica estrictamente las compatibilidades del motor.

