// scss/main.scss

// 1. Personaliza las variables de Bootstrap al importarlo con @use
// En un monorepo con workspaces, Bootstrap está en el node_modules raíz
@use '../../../node_modules/bootstrap/scss/bootstrap' with (
  $primary: #8e44ad,
  $secondary: #2ecc71,
  $border-radius: 0,
  $font-family-base: ('Montserrat', sans-serif)
);
