@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --bs-font-sans-serif: 'Montserrat', sans-serif;
}

body {
  font-family: var(--bs-font-sans-serif);
}


/* Main Container */
#app-container {
  min-height: 100vh;
}