@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --bs-primary: #8e44ad;
  --bs-secondary: #2ecc71;
  --bs-font-sans-serif: 'Montserrat', sans-serif;
}

body {
  font-family: var(--bs-font-sans-serif);
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

.text-primary {
  color: var(--bs-primary) !important;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

/* Main Container */
#app-container {
  min-height: 100vh;
}