name: Deploy to RaspPi

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          rm -f .env 
          echo "${{ secrets.ENV_FILE_PRODUCTION }}" > .env

      - name: Stop current containers
        run: docker compose down --remove-orphans || true

      - name: Build and Start containers
        run: docker compose up --build -d

      - name: Clean up unused images
        run: docker image prune -f